telegram_token*.txt
terraform/parkcheep-gcp.json
deploy.sh
terraform/.terraform*
deploy/telegrambot.env
deploy/telegrambot.service
log/capistrano.log
.byebug_history
deploy/parkcheep-telegram.env
deploy/parkcheep-telegram.service
